@model IEnumerable<SchoolApp.Models.Course>

@{
    ViewData["Title"] = "Courses";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="offset-search">
    <form asp-controller="Student" asp-action="CourseIndex">
        <input type="text" name="searchString" placeholder="Sarch here...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- offset search area end -->
<!-- body overlay area start -->
<div class="body_overlay"></div>
<!-- body overlay area end -->
<div class="course-area  pt--120 pb--70">
    <div class="container">
        @if (Model == null || !Model.Any())
        {
            <div class="col-md-10 offset-md-1">
                <div class="section-title-style2 black-title title-tb">
                    <a class="btn btn-primary btn-round btn-sm" asp-action="CreateCourse">Create</a>
                    <h2 class="primary-color">No Courses Available</h2>
                </div>
            </div>
        }
        else{
        <div class="col-md-10 offset-md-1">
            <div class="section-title-style2 black-title title-tb">
                <div class="section-title-style2 black-title title-tb">
                    <a class="btn btn-primary btn-round btn-sm" asp-action="CreateCourse">Create</a>
                    <h2 class="primary-color">My Courses</h2>
                </div>            
            </div>
        </div>
            <form asp-controller="Teacher" asp-action="CourseIndex">
                <div class="input">
                    <select name="sortOrder">
                        <option selected disabled>Sort By</option>
                        <option value="CourseName">Course Name</option>
                        <option value="StartDate">Start Date</option>
                        <option value="EndDate">End Date</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-round btn-sm" type="submit">sort</button>
            </form>
            <br /> <br /> <br />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="card mb-5">

                        <div class="card-body  p-25">
                            <div class="course-meta-title mb-4">
                                <div class="course-meta-text">
                                    <h4><a href="course-details.html">@item.CourseName</a></h4>
                                </div>
                            </div>
                            <p>@item.CourseDescription</p>
                            <ul class="course-meta-details list-inline  w-100">
                                <li>
                                    <p>Start Date</p>
                                    <span>@item.StartDate</span>
                                </li>
                                <li>
                                    <p>End Date</p>
                                    <span>@item.EndDate</span>
                                </li>
                                <li>
                                    <p>Document</p>
                                    <span><a href="~/@item.CourseDocFile"><i class="fa fa-file" aria-hidden="true"></i></a></span>
                                </li>
                            </ul>
                            <br />
                            <a class="btn btn-primary btn-round btn-sm" asp-action="CourseEdit" asp-route-id="@item.CourseId"> Edit </a>
                            <a class="btn btn-primary btn-round btn-sm" asp-action="CourseDelete" asp-route-id="@item.CourseId">delete</a>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div>
            }
        </div>
        }
    </div>
</div>

