@model SchoolApp.Models.Project;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Delete";
}
<!-- comments area end -->
<div class="course-area  pt--120 pb--70">
    <div class="container">
        <div class="comment-area">
            <h4 class="comment-title" style="color: red;"><span>Are you sure you want to delete this?</span></h4>            
            <article>
                <div class="comment-thumb">
                    <b> @Html.DisplayNameFor(model => model.ProjectTitle)&nbsp;&nbsp;&nbsp;</b>
                </div>
                <div class="comment-content">
                @if (Model.ProjectTitle == null || Model.ProjectTitle == "")
                {
                    <h4>Empty</h4>
                }else
                {
                    <h4> @Html.DisplayFor(model => model.ProjectTitle)</h4> 
                }
                </div>
            </article>
            <article>
                <div class="comment-thumb">
                    <b> @Html.DisplayNameFor(model => model.ProjectDescription)&nbsp;&nbsp;&nbsp;</b>
                </div>
                <div class="comment-content">
                @if (Model.ProjectDescription == null || Model.ProjectDescription == "")
                {
                    <h4>Empty</h4>
                }else
                {
                    <h4> @Html.DisplayFor(model => model.ProjectDescription)</h4>
                }
                </div>
            </article>
            <article>
                <div class="comment-thumb">
                    <b> @Html.DisplayNameFor(model => model.DateCompleted)&nbsp;&nbsp;&nbsp;</b>
                </div>
                <div class="comment-content">
                    <h4> @Html.DisplayFor(model => model.DateCompleted)</h4>
                </div>
            </article>
            <article>
                <div class="comment-thumb">
                    <b> @Html.DisplayNameFor(model => model.MediaUrl)&nbsp;&nbsp;&nbsp;</b>
                </div>
                <div class="comment-content">
            @if ( Model.MediaUrl == null)
                {
                    <h4>Empty</h4>
                }else
                {
                    <h4> <span><a href="~/@Model.MediaUrl"><i class="fa fa-file" aria-hidden="true"></i></a></span></h4>
                }
                </div>
                <form asp-action="ProjectDelete">
                    <input type="hidden" asp-for="ProjectId" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a class="btn btn-primary btn-round btn-sm" asp-action="ProjectIndex">Back to List</a>
                </form>
            </article>
        </div>
    </div>
</div>
<!-- comments area end -->

